<h1>Divisions:</h1>

<!--List of all divisions-->
<% if @divisions.any? %>

  <ul>
    <% @divisions.each do |division| %>
      <li><a href='/divisions/<%=division.id%>' ><%= division.title %></a></li>
    <% end%>
  </ul>

<% else %>
  <p>You have not created any divisions yet.</p>
<% end %>
<hr>


<!--Create a Division-->
<h1>Create a Division:</h1>

<form action="/divisions" method="post">

  <label for="title">Division Title:</label>
  <input id="title" name="title" type="text">

  <button class="btn btn-default" type="submit">Create Division</button>
</form>
