<h1>Divisions:</h1>

<!--List of all divisions-->
<% if @divisions.any? %>

  <ul>
    <% @divisions.each do |division| %>
      <li><a href='/divisions/<%=division.id%>' ><%= division.title %></a></li>
    <% end%>
  </ul>

<% else %>
  <p>You have not created any divisions yet.</p>
<% end %>
<br>
<!--Create a Division-->
<h1>Create a Division:</h1>

<form action="/divisions" method="post">

  <label for="title">Division Title:</label>
  <input id="title" name="title" type="text">

  <button class="btn btn-default" type="submit">Create Division</button>
</form>
<hr>
<!--List of all projects-->
<h1>Projects:</h1>
<% if @projects.any? %>

  <ul>
    <% @projects.each do |project| %>
      <li><a href='/projects/<%=project.id%>' ><%= project.description %></a></li>
    <% end%>
  </ul>

<% else %>
  <p>You have not created any projects yet.</p>
<% end %>
<br><a class="btn btn-default" href="/projects/new">Create Project</a>

<!-- link to all employees -->
<hr><a class="btn btn-default" href="/employees">View all Employees</a>
