<h1>Create an Project:</h1>

<form action="/projects" method="post">

  <label for="description">Project Description:</label>
  <input id="description" name="description" type="text">

  <button class="btn btn-default" type="submit">Create Project</button>
</form>

<br><a class="btn btn-default" href="/">Home</a>
